{% extends "base.html" %}
{% block title %}{{ post.name }}{% endblock %}

<!-- Replace the BODY of template base.html -->
{% block body %}


<div class="col-md-12">
<h3>{{ post.title }}</h3>

<div class="row">
  <div class="col-md-6">
    <p>Written By <a href="{{ url_for('blog.user', username=post.users.username)
      }}">{{ post.users.username }}</a> on {{ post.publish_date }}</p>
    <p>{{ post.text | safe }}</p>
  </div>
  <div class="column">
    <div class="col-md-2">
      <a href="{{ url_for('blog.new_post') }}" class="btn btn-primary">New</a>
    </div>
  </div>
  <div class="column">
    <div class="col-md-2">
      <a href="{{ url_for('blog.edit_post', id=post.id) }}" class="btn btn-primary">Edit</a>
    </div>
  </div>
</div>
<h3>Old Comments:</h3>
<div class="row">
    {% for comment in comments %}
     <div class="column">
         <div class="col-md-12" style=" border: 1px solid rgba(129, 138, 135, 0.57); margin-top: 6px;">
            <p>title: {{ comment.name | safe }}</p>
            <p> text: {{ comment.text | safe }}</p>
         </div>
    </div>
    {% endfor %}

</div>


  <h3>New Comment:</h3>
  <!-- Set the form -->
  <form method="POST" action="{{ url_for('blog.post', post_id=post.id) }}">
      <!--form.hidden_tag(): 提供了预防跨站请求伪造的机制, 常用于表单页-->
    {{ form.hidden_tag() }}
    <div>
      <!-- Field: `name` label -->
      {{ form.name.label }}
        <!--field.errors: 列表类型, 用于显示验证失败后的提示信息-->
      {% if form.name.errors %}
        {% for e in form.name.errors %}
          <p class="help-block">{{ e }}</p>
        {% endfor %}
      {% endif %}
        <!--{{ form.name(class_="form-control") }}:
        把字段本身作为方法调用, 会渲染作用于该字段的的 HTML 代码.-->
      {{ form.name(class_="form-control") }}
    </div>
    <div class="form-group">
      {{ form.text.label }}
      {% if form.text.errors %}
        {% for e in form.text.errors %}
          <p class="help-block">{{ e }}</p>
        {% endfor %}
      {% endif %}
      {{ form.text(class_='form-control',rows=15) }}
    </div>
    <input class="btn btn-primary" type="submit" value="Add Comment">
  </form>
</div>
{% endblock %}